[submodule "bundle/vim-python-pep8-indent"]
	path = bundle/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "plugged/vim-markdown-folding"]
	path = plugged/vim-markdown-folding
	url = https://github.com/masukomi/vim-markdown-folding.git
[submodule "bundle/syntastic"]
    path = bundle/syntastic
    url = https://github.com/vim-syntastic/syntastic.git
