[submodule "bundle/vim-python-pep8-indent"]
	path = bundle/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "plugged/vim-markdown-folding"]
	path = plugged/vim-markdown-folding
	url = https://github.com/masukomi/vim-markdown-folding.git
[submodule "bundle/syntastic"]
    path = bundle/syntastic
    url = https://github.com/vim-syntastic/syntastic.git
[submodule "plugged/jedi-vim"]
	path = plugged/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "plugged/tabular"]
	path = plugged/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "plugged/nerdtree"]
	path = plugged/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
